<div class="page-header">
  <h1 class="text-center"><%= @techword.name  %></h1>
</div>

<%= @techword.description.html_safe %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>
